#root {
  width: 200px;
  margin: auto;

  .result {
    height: 40px;
    background: #000;

    .result__value {
      text-align: end;
      height: 100%;
      font-size: 30px;
      color: #fff;
      padding-right: 15px;
    }
  }

  .button-wrapper {
    display: flex;
    justify-content: center;
    background: #000;

    .button {
      border-radius: 50%;
      width: 40px;
      height: 40px;
      margin: 5px;
      background: #555;
      border: none;
      color: #fff;
      font-size: 25px;
      padding: 0;

      &:hover {
        background: #999;
      }
    }

    .operator {
      display: flex;
      flex-direction: column;

      .button {
        background: orange;
        &:hover {
          background: #ffc7af;
        }
        &:focus {
          background: #fff;
          color: orange;
        }
      }
    }
  }
}
